@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.fc .fc-toolbar {
  @apply !flex-col !items-center  !gap-y-3 md:!flex-row
}

.fc-toolbar-title {
  @apply inline-flex leading-none items-center justify-center rounded-md text-sm font-medium ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-950 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 dark:ring-offset-neutral-950 dark:focus-visible:ring-neutral-300 border border-neutral-200 bg-white hover:bg-neutral-100 hover:text-neutral-900 dark:border-neutral-800 dark:bg-neutral-950 dark:hover:bg-neutral-800 dark:hover:text-neutral-50 !text-[19px] pt-[10px] p-3 px-4  
} 

.fc .fc-button:focus {
  @apply !shadow-none;
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:disabled {
  @apply !shadow-none  !bg-white !text-neutral-900 !border-neutral-900 !opacity-100
}

.fc .fc-button-primary:disabled {
  @apply !cursor-not-allowed
}

.fc .fc-button-primary {
  @apply !bg-neutral-900 !text-white !border-neutral-900 
}

.fc .fc-button-primary:not(:disabled) {
  @apply  hover:!bg-white hover:!text-neutral-900 !transition-colors !duration-200
}

.fc-theme-standard .fc-list-day-cushion {
  @apply dark:!bg-[#171717]
}

.fc-h-event , .fc-v-event {
  @apply !bg-orange-500 dark:!bg-orange-400 !border-none
}

.fc-daygrid-event-dot , .fc-list-event-dot {
  @apply !border-orange-500 dark:!border-orange-400
}

.fc-timegrid-event-harness-inset .fc-timegrid-event, .fc-timegrid-event.fc-event-mirror, .fc-timegrid-more-link {
  @apply !shadow-none
}

.fc-theme-standard .fc-popover {
  @apply dark:!bg-neutral-900 dark:!border-neutral-700/60 
}

.fc-theme-standard .fc-popover-header {
  @apply dark:!bg-neutral-800
}

.fc-daygrid-dot-event.fc-event-mirror, .fc-daygrid-dot-event {
  @apply dark:hover:!bg-neutral-800
}

.fc-view {
  @apply min-w-[700px]
}

.fc-view-harness.fc-view-harness-active {
  @apply overflow-x-auto
}

.dropDownItem {
  @apply relative flex cursor-default select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none transition-colors focus:bg-neutral-100 focus:text-neutral-900 data-[disabled]:pointer-events-none data-[disabled]:opacity-50 dark:focus:bg-neutral-800 dark:focus:text-neutral-50 hover:bg-slate-200
}